.sprite {display: inline-block; background-image: url(/img/sprites.png?v=1452004739); background-repeat: no-repeat;max-width: 100%;}.icon-404{background-position: 0px 0px;width: 146px;height: 104px;}
.icon-alert{background-position: -606px -517px;width: 12px;height: 12px;}
.icon-cards-sm{background-position: -148px -79px;width: 91px;height: 21px;}
.icon-cards-xs{background-position: -360px -59px;width: 78px;height: 18px;}
.icon-cards{background-position: -305px -137px;width: 130px;height: 30px;}
.icon-check{background-position: -606px -504px;width: 15px;height: 11px;}
.icon-close-white{background-position: -606px -160px;width: 21px;height: 21px;}
.icon-collapse-dark-up{background-position: -617px -573px;width: 9px;height: 5px;}
.icon-collapse-dark{background-position: -617px -580px;width: 9px;height: 5px;}
.icon-collapse-up{background-position: -580px -546px;width: 9px;height: 5px;}
.icon-collapse{background-position: -606px -573px;width: 9px;height: 5px;}
.icon-data{background-position: -606px -334px;width: 15px;height: 18px;}
.icon-delete{background-position: -606px -458px;width: 15px;height: 15px;}
.icon-devices{background-position: -148px -36px;width: 210px;height: 41px;}
.icon-done{background-position: -606px -227px;width: 20px;height: 20px;}
.icon-download{background-position: -606px -475px;width: 14px;height: 13px;}
.icon-error{background-position: 0px -316px;width: 38px;height: 38px;}
.icon-errored{background-position: -606px -293px;width: 20px;height: 18px;}
.icon-facebook{background-position: -389px -215px;width: 42px;height: 42px;}
.icon-flag-ad{background-position: -580px -468px;width: 24px;height: 24px;}
.icon-flag-ae{background-position: -580px -104px;width: 24px;height: 24px;}
.icon-flag-af{background-position: -104px -486px;width: 24px;height: 24px;}
.icon-flag-ag{background-position: -390px -486px;width: 24px;height: 24px;}
.icon-flag-ai{background-position: -580px -130px;width: 24px;height: 24px;}
.icon-flag-al{background-position: -580px -156px;width: 24px;height: 24px;}
.icon-flag-am{background-position: -580px -182px;width: 24px;height: 24px;}
.icon-flag-an{background-position: -580px -286px;width: 24px;height: 24px;}
.icon-flag-ao{background-position: -580px -312px;width: 24px;height: 24px;}
.icon-flag-aq{background-position: -580px -338px;width: 24px;height: 24px;}
.icon-flag-ar{background-position: -580px -364px;width: 24px;height: 24px;}
.icon-flag-as{background-position: -580px -390px;width: 24px;height: 24px;}
.icon-flag-at{background-position: -580px -416px;width: 24px;height: 24px;}
.icon-flag-au{background-position: -580px -442px;width: 24px;height: 24px;}
.icon-flag-aw{background-position: -580px -494px;width: 24px;height: 24px;}
.icon-flag-ax{background-position: -580px -520px;width: 24px;height: 24px;}
.icon-flag-az{background-position: 0px -564px;width: 24px;height: 24px;}
.icon-flag-ba{background-position: -26px -564px;width: 24px;height: 24px;}
.icon-flag-bb{background-position: -52px -564px;width: 24px;height: 24px;}
.icon-flag-bd{background-position: -78px -564px;width: 24px;height: 24px;}
.icon-flag-be{background-position: -104px -564px;width: 24px;height: 24px;}
.icon-flag-bf{background-position: -130px -564px;width: 24px;height: 24px;}
.icon-flag-bg{background-position: -156px -564px;width: 24px;height: 24px;}
.icon-flag-bh{background-position: -182px -564px;width: 24px;height: 24px;}
.icon-flag-bi{background-position: -54px -381px;width: 24px;height: 24px;}
.icon-flag-bj{background-position: -80px -381px;width: 24px;height: 24px;}
.icon-flag-bl{background-position: -106px -381px;width: 24px;height: 24px;}
.icon-flag-bm{background-position: -132px -381px;width: 24px;height: 24px;}
.icon-flag-bn{background-position: -158px -381px;width: 24px;height: 24px;}
.icon-flag-bo{background-position: -184px -381px;width: 24px;height: 24px;}
.icon-flag-bq{background-position: -210px -381px;width: 24px;height: 24px;}
.icon-flag-br{background-position: -236px -381px;width: 24px;height: 24px;}
.icon-flag-bs{background-position: -262px -381px;width: 24px;height: 24px;}
.icon-flag-bt{background-position: -288px -381px;width: 24px;height: 24px;}
.icon-flag-bv{background-position: -314px -381px;width: 24px;height: 24px;}
.icon-flag-bw{background-position: -340px -381px;width: 24px;height: 24px;}
.icon-flag-by{background-position: -366px -381px;width: 24px;height: 24px;}
.icon-flag-bz{background-position: -392px -381px;width: 24px;height: 24px;}
.icon-flag-ca{background-position: -418px -381px;width: 24px;height: 24px;}
.icon-flag-cc{background-position: 0px -408px;width: 24px;height: 24px;}
.icon-flag-cd{background-position: -26px -408px;width: 24px;height: 24px;}
.icon-flag-cf{background-position: -52px -408px;width: 24px;height: 24px;}
.icon-flag-cg{background-position: -78px -408px;width: 24px;height: 24px;}
.icon-flag-ch{background-position: -104px -408px;width: 24px;height: 24px;}
.icon-flag-ci{background-position: -130px -408px;width: 24px;height: 24px;}
.icon-flag-ck{background-position: -156px -408px;width: 24px;height: 24px;}
.icon-flag-cl{background-position: -182px -408px;width: 24px;height: 24px;}
.icon-flag-cm{background-position: -208px -408px;width: 24px;height: 24px;}
.icon-flag-cn{background-position: -234px -408px;width: 24px;height: 24px;}
.icon-flag-co{background-position: -260px -408px;width: 24px;height: 24px;}
.icon-flag-cr{background-position: -286px -408px;width: 24px;height: 24px;}
.icon-flag-cu{background-position: -312px -408px;width: 24px;height: 24px;}
.icon-flag-cv{background-position: -338px -408px;width: 24px;height: 24px;}
.icon-flag-cw{background-position: -364px -408px;width: 24px;height: 24px;}
.icon-flag-cx{background-position: -390px -408px;width: 24px;height: 24px;}
.icon-flag-cy{background-position: -416px -408px;width: 24px;height: 24px;}
.icon-flag-cz{background-position: -450px 0px;width: 24px;height: 24px;}
.icon-flag-de{background-position: -450px -26px;width: 24px;height: 24px;}
.icon-flag-dj{background-position: -450px -52px;width: 24px;height: 24px;}
.icon-flag-dk{background-position: -450px -78px;width: 24px;height: 24px;}
.icon-flag-dm{background-position: -450px -104px;width: 24px;height: 24px;}
.icon-flag-do{background-position: -450px -130px;width: 24px;height: 24px;}
.icon-flag-dz{background-position: -450px -156px;width: 24px;height: 24px;}
.icon-flag-ec{background-position: -450px -182px;width: 24px;height: 24px;}
.icon-flag-ee{background-position: -450px -208px;width: 24px;height: 24px;}
.icon-flag-eg{background-position: -450px -234px;width: 24px;height: 24px;}
.icon-flag-eh{background-position: -450px -260px;width: 24px;height: 24px;}
.icon-flag-er{background-position: -450px -286px;width: 24px;height: 24px;}
.icon-flag-es{background-position: -450px -312px;width: 24px;height: 24px;}
.icon-flag-et{background-position: -450px -338px;width: 24px;height: 24px;}
.icon-flag-fi{background-position: -450px -364px;width: 24px;height: 24px;}
.icon-flag-fj{background-position: -450px -390px;width: 24px;height: 24px;}
.icon-flag-fk{background-position: 0px -434px;width: 24px;height: 24px;}
.icon-flag-fm{background-position: -26px -434px;width: 24px;height: 24px;}
.icon-flag-fo{background-position: -52px -434px;width: 24px;height: 24px;}
.icon-flag-fr{background-position: -78px -434px;width: 24px;height: 24px;}
.icon-flag-ga{background-position: -104px -434px;width: 24px;height: 24px;}
.icon-flag-gb{background-position: -130px -434px;width: 24px;height: 24px;}
.icon-flag-gd{background-position: -156px -434px;width: 24px;height: 24px;}
.icon-flag-ge{background-position: -182px -434px;width: 24px;height: 24px;}
.icon-flag-gf{background-position: -208px -434px;width: 24px;height: 24px;}
.icon-flag-gg{background-position: -234px -434px;width: 24px;height: 24px;}
.icon-flag-gh{background-position: -260px -434px;width: 24px;height: 24px;}
.icon-flag-gi{background-position: -286px -434px;width: 24px;height: 24px;}
.icon-flag-gl{background-position: -312px -434px;width: 24px;height: 24px;}
.icon-flag-gm{background-position: -338px -434px;width: 24px;height: 24px;}
.icon-flag-gn{background-position: -364px -434px;width: 24px;height: 24px;}
.icon-flag-gp{background-position: -390px -434px;width: 24px;height: 24px;}
.icon-flag-gq{background-position: -416px -434px;width: 24px;height: 24px;}
.icon-flag-gr{background-position: -442px -434px;width: 24px;height: 24px;}
.icon-flag-gs{background-position: -476px 0px;width: 24px;height: 24px;}
.icon-flag-gt{background-position: -476px -26px;width: 24px;height: 24px;}
.icon-flag-gu{background-position: -476px -52px;width: 24px;height: 24px;}
.icon-flag-gw{background-position: -476px -78px;width: 24px;height: 24px;}
.icon-flag-gy{background-position: -476px -104px;width: 24px;height: 24px;}
.icon-flag-hk{background-position: -476px -130px;width: 24px;height: 24px;}
.icon-flag-hm{background-position: -476px -156px;width: 24px;height: 24px;}
.icon-flag-hn{background-position: -476px -182px;width: 24px;height: 24px;}
.icon-flag-hr{background-position: -476px -208px;width: 24px;height: 24px;}
.icon-flag-ht{background-position: -476px -234px;width: 24px;height: 24px;}
.icon-flag-hu{background-position: -476px -260px;width: 24px;height: 24px;}
.icon-flag-id{background-position: -476px -286px;width: 24px;height: 24px;}
.icon-flag-ie{background-position: -476px -312px;width: 24px;height: 24px;}
.icon-flag-il{background-position: -476px -338px;width: 24px;height: 24px;}
.icon-flag-im{background-position: -476px -364px;width: 24px;height: 24px;}
.icon-flag-in{background-position: -476px -390px;width: 24px;height: 24px;}
.icon-flag-io{background-position: -476px -416px;width: 24px;height: 24px;}
.icon-flag-iq{background-position: 0px -460px;width: 24px;height: 24px;}
.icon-flag-ir{background-position: -26px -460px;width: 24px;height: 24px;}
.icon-flag-is{background-position: -52px -460px;width: 24px;height: 24px;}
.icon-flag-it{background-position: -78px -460px;width: 24px;height: 24px;}
.icon-flag-je{background-position: -104px -460px;width: 24px;height: 24px;}
.icon-flag-jm{background-position: -130px -460px;width: 24px;height: 24px;}
.icon-flag-jo{background-position: -156px -460px;width: 24px;height: 24px;}
.icon-flag-jp{background-position: -182px -460px;width: 24px;height: 24px;}
.icon-flag-ke{background-position: -208px -460px;width: 24px;height: 24px;}
.icon-flag-kg{background-position: -234px -460px;width: 24px;height: 24px;}
.icon-flag-kh{background-position: -260px -460px;width: 24px;height: 24px;}
.icon-flag-ki{background-position: -286px -460px;width: 24px;height: 24px;}
.icon-flag-km{background-position: -312px -460px;width: 24px;height: 24px;}
.icon-flag-kn{background-position: -338px -460px;width: 24px;height: 24px;}
.icon-flag-kp{background-position: -364px -460px;width: 24px;height: 24px;}
.icon-flag-kr{background-position: -390px -460px;width: 24px;height: 24px;}
.icon-flag-kw{background-position: -416px -460px;width: 24px;height: 24px;}
.icon-flag-ky{background-position: -442px -460px;width: 24px;height: 24px;}
.icon-flag-kz{background-position: -468px -460px;width: 24px;height: 24px;}
.icon-flag-la{background-position: -502px 0px;width: 24px;height: 24px;}
.icon-flag-lb{background-position: -502px -26px;width: 24px;height: 24px;}
.icon-flag-lc{background-position: -502px -52px;width: 24px;height: 24px;}
.icon-flag-li{background-position: -502px -78px;width: 24px;height: 24px;}
.icon-flag-lk{background-position: -502px -104px;width: 24px;height: 24px;}
.icon-flag-lr{background-position: -502px -130px;width: 24px;height: 24px;}
.icon-flag-ls{background-position: -502px -156px;width: 24px;height: 24px;}
.icon-flag-lt{background-position: -502px -182px;width: 24px;height: 24px;}
.icon-flag-lu{background-position: -502px -208px;width: 24px;height: 24px;}
.icon-flag-lv{background-position: -502px -234px;width: 24px;height: 24px;}
.icon-flag-ly{background-position: -502px -260px;width: 24px;height: 24px;}
.icon-flag-ma{background-position: -502px -286px;width: 24px;height: 24px;}
.icon-flag-mc{background-position: -502px -312px;width: 24px;height: 24px;}
.icon-flag-md{background-position: -502px -338px;width: 24px;height: 24px;}
.icon-flag-me{background-position: -502px -364px;width: 24px;height: 24px;}
.icon-flag-mf{background-position: -502px -390px;width: 24px;height: 24px;}
.icon-flag-mg{background-position: -502px -416px;width: 24px;height: 24px;}
.icon-flag-mh{background-position: -502px -442px;width: 24px;height: 24px;}
.icon-flag-mk{background-position: 0px -486px;width: 24px;height: 24px;}
.icon-flag-ml{background-position: -26px -486px;width: 24px;height: 24px;}
.icon-flag-mm{background-position: -52px -486px;width: 24px;height: 24px;}
.icon-flag-mn{background-position: -78px -486px;width: 24px;height: 24px;}
.icon-flag-mo{background-position: -208px -564px;width: 24px;height: 24px;}
.icon-flag-mp{background-position: -130px -486px;width: 24px;height: 24px;}
.icon-flag-mq{background-position: -156px -486px;width: 24px;height: 24px;}
.icon-flag-mr{background-position: -182px -486px;width: 24px;height: 24px;}
.icon-flag-ms{background-position: -208px -486px;width: 24px;height: 24px;}
.icon-flag-mt{background-position: -234px -486px;width: 24px;height: 24px;}
.icon-flag-mu{background-position: -260px -486px;width: 24px;height: 24px;}
.icon-flag-mv{background-position: -286px -486px;width: 24px;height: 24px;}
.icon-flag-mw{background-position: -312px -486px;width: 24px;height: 24px;}
.icon-flag-mx{background-position: -338px -486px;width: 24px;height: 24px;}
.icon-flag-my{background-position: -364px -486px;width: 24px;height: 24px;}
.icon-flag-mz{background-position: -28px -381px;width: 24px;height: 24px;}
.icon-flag-na{background-position: -416px -486px;width: 24px;height: 24px;}
.icon-flag-nc{background-position: -442px -486px;width: 24px;height: 24px;}
.icon-flag-ne{background-position: -468px -486px;width: 24px;height: 24px;}
.icon-flag-nf{background-position: -494px -486px;width: 24px;height: 24px;}
.icon-flag-ng{background-position: -528px 0px;width: 24px;height: 24px;}
.icon-flag-ni{background-position: -528px -26px;width: 24px;height: 24px;}
.icon-flag-nl{background-position: -528px -52px;width: 24px;height: 24px;}
.icon-flag-no{background-position: -528px -78px;width: 24px;height: 24px;}
.icon-flag-np{background-position: -528px -104px;width: 24px;height: 24px;}
.icon-flag-nr{background-position: -528px -130px;width: 24px;height: 24px;}
.icon-flag-nu{background-position: -528px -156px;width: 24px;height: 24px;}
.icon-flag-nz{background-position: -528px -182px;width: 24px;height: 24px;}
.icon-flag-om{background-position: -528px -208px;width: 24px;height: 24px;}
.icon-flag-pa{background-position: -528px -234px;width: 24px;height: 24px;}
.icon-flag-pe{background-position: -528px -260px;width: 24px;height: 24px;}
.icon-flag-pf{background-position: -528px -286px;width: 24px;height: 24px;}
.icon-flag-pg{background-position: -528px -312px;width: 24px;height: 24px;}
.icon-flag-ph{background-position: -528px -338px;width: 24px;height: 24px;}
.icon-flag-pk{background-position: -528px -364px;width: 24px;height: 24px;}
.icon-flag-pl{background-position: -528px -390px;width: 24px;height: 24px;}
.icon-flag-pm{background-position: -528px -416px;width: 24px;height: 24px;}
.icon-flag-pn{background-position: -528px -442px;width: 24px;height: 24px;}
.icon-flag-pr{background-position: -528px -468px;width: 24px;height: 24px;}
.icon-flag-ps{background-position: 0px -512px;width: 24px;height: 24px;}
.icon-flag-pt{background-position: -26px -512px;width: 24px;height: 24px;}
.icon-flag-pw{background-position: -52px -512px;width: 24px;height: 24px;}
.icon-flag-py{background-position: -78px -512px;width: 24px;height: 24px;}
.icon-flag-qa{background-position: -104px -512px;width: 24px;height: 24px;}
.icon-flag-re{background-position: -130px -512px;width: 24px;height: 24px;}
.icon-flag-ro{background-position: -156px -512px;width: 24px;height: 24px;}
.icon-flag-rs{background-position: -182px -512px;width: 24px;height: 24px;}
.icon-flag-ru{background-position: -208px -512px;width: 24px;height: 24px;}
.icon-flag-rw{background-position: -234px -512px;width: 24px;height: 24px;}
.icon-flag-sa{background-position: -260px -512px;width: 24px;height: 24px;}
.icon-flag-sb{background-position: -286px -512px;width: 24px;height: 24px;}
.icon-flag-sc{background-position: -312px -512px;width: 24px;height: 24px;}
.icon-flag-sd{background-position: -338px -512px;width: 24px;height: 24px;}
.icon-flag-se{background-position: -364px -512px;width: 24px;height: 24px;}
.icon-flag-sg{background-position: -390px -512px;width: 24px;height: 24px;}
.icon-flag-sh{background-position: -416px -512px;width: 24px;height: 24px;}
.icon-flag-si{background-position: -442px -512px;width: 24px;height: 24px;}
.icon-flag-sj{background-position: -468px -512px;width: 24px;height: 24px;}
.icon-flag-sk{background-position: -494px -512px;width: 24px;height: 24px;}
.icon-flag-sl{background-position: -520px -512px;width: 24px;height: 24px;}
.icon-flag-sm{background-position: -554px 0px;width: 24px;height: 24px;}
.icon-flag-sn{background-position: -554px -26px;width: 24px;height: 24px;}
.icon-flag-so{background-position: -554px -52px;width: 24px;height: 24px;}
.icon-flag-sr{background-position: -554px -78px;width: 24px;height: 24px;}
.icon-flag-ss{background-position: -554px -104px;width: 24px;height: 24px;}
.icon-flag-st{background-position: -554px -130px;width: 24px;height: 24px;}
.icon-flag-sv{background-position: -554px -156px;width: 24px;height: 24px;}
.icon-flag-sx{background-position: -554px -182px;width: 24px;height: 24px;}
.icon-flag-sy{background-position: -554px -208px;width: 24px;height: 24px;}
.icon-flag-sz{background-position: -554px -234px;width: 24px;height: 24px;}
.icon-flag-tc{background-position: -554px -260px;width: 24px;height: 24px;}
.icon-flag-td{background-position: -554px -286px;width: 24px;height: 24px;}
.icon-flag-tf{background-position: -554px -312px;width: 24px;height: 24px;}
.icon-flag-tg{background-position: -554px -338px;width: 24px;height: 24px;}
.icon-flag-th{background-position: -554px -364px;width: 24px;height: 24px;}
.icon-flag-tj{background-position: -554px -390px;width: 24px;height: 24px;}
.icon-flag-tk{background-position: -554px -416px;width: 24px;height: 24px;}
.icon-flag-tl{background-position: -554px -442px;width: 24px;height: 24px;}
.icon-flag-tm{background-position: -554px -468px;width: 24px;height: 24px;}
.icon-flag-tn{background-position: -554px -494px;width: 24px;height: 24px;}
.icon-flag-to{background-position: 0px -538px;width: 24px;height: 24px;}
.icon-flag-tr{background-position: -26px -538px;width: 24px;height: 24px;}
.icon-flag-tt{background-position: -52px -538px;width: 24px;height: 24px;}
.icon-flag-tv{background-position: -78px -538px;width: 24px;height: 24px;}
.icon-flag-tw{background-position: -104px -538px;width: 24px;height: 24px;}
.icon-flag-tz{background-position: -130px -538px;width: 24px;height: 24px;}
.icon-flag-ua{background-position: -156px -538px;width: 24px;height: 24px;}
.icon-flag-ug{background-position: -182px -538px;width: 24px;height: 24px;}
.icon-flag-um{background-position: -208px -538px;width: 24px;height: 24px;}
.icon-flag-us{background-position: -234px -538px;width: 24px;height: 24px;}
.icon-flag-uy{background-position: -260px -538px;width: 24px;height: 24px;}
.icon-flag-uz{background-position: -286px -538px;width: 24px;height: 24px;}
.icon-flag-va{background-position: -312px -538px;width: 24px;height: 24px;}
.icon-flag-vc{background-position: -338px -538px;width: 24px;height: 24px;}
.icon-flag-ve{background-position: -364px -538px;width: 24px;height: 24px;}
.icon-flag-vg{background-position: -390px -538px;width: 24px;height: 24px;}
.icon-flag-vi{background-position: -416px -538px;width: 24px;height: 24px;}
.icon-flag-vn{background-position: -442px -538px;width: 24px;height: 24px;}
.icon-flag-vu{background-position: -468px -538px;width: 24px;height: 24px;}
.icon-flag-wf{background-position: -494px -538px;width: 24px;height: 24px;}
.icon-flag-ws{background-position: -520px -538px;width: 24px;height: 24px;}
.icon-flag-ye{background-position: -546px -538px;width: 24px;height: 24px;}
.icon-flag-yt{background-position: -580px 0px;width: 24px;height: 24px;}
.icon-flag-za{background-position: -580px -26px;width: 24px;height: 24px;}
.icon-flag-zm{background-position: -580px -52px;width: 24px;height: 24px;}
.icon-flag-zw{background-position: -580px -78px;width: 24px;height: 24px;}
.icon-footer-logo{background-position: -44px -272px;width: 42px;height: 42px;}
.icon-hamburger-blue{background-position: -158px -316px;width: 28px;height: 21px;}
.icon-hamburger{background-position: -128px -316px;width: 28px;height: 21px;}
.icon-incoming-call{background-position: -606px -561px;width: 10px;height: 10px;}
.icon-incoming-gray{background-position: -606px -271px;width: 20px;height: 20px;}
.icon-incoming{background-position: -606px -183px;width: 20px;height: 20px;}
.icon-keep{background-position: -606px -441px;width: 15px;height: 15px;}
.icon-landline{background-position: -606px -490px;width: 15px;height: 12px;}
.icon-left{background-position: -606px -546px;width: 8px;height: 13px;}
.icon-lines-sm{background-position: -393px -89px;width: 41px;height: 4px;}
.icon-lines{background-position: -252px -126px;width: 179px;height: 4px;}
.icon-local{background-position: -606px -390px;width: 15px;height: 15px;}
.icon-logo-app-store-logo{background-position: -321px -79px;width: 70px;height: 16px;}
.icon-logo-google-play-logo{background-position: -241px -79px;width: 78px;height: 17px;}
.icon-logo-titled-blue{background-position: -153px -137px;width: 150px;height: 44px;}
.icon-logo-titled-mobile-blue{background-position: -119px -183px;width: 105px;height: 30px;}
.icon-logo-titled-mobile{background-position: -226px -183px;width: 105px;height: 30px;}
.icon-logo-titled{background-position: 0px -137px;width: 151px;height: 44px;}
.icon-logout{background-position: -606px -372px;width: 16px;height: 16px;}
.icon-mobile{background-position: -606px -313px;width: 16px;height: 19px;}
.icon-orange-arrow-down{background-position: -618px -561px;width: 9px;height: 5px;}
.icon-orange-arrow-up{background-position: -606px -580px;width: 9px;height: 5px;}
.icon-outgoing-call{background-position: -616px -546px;width: 10px;height: 10px;}
.icon-outgoing-gray{background-position: -606px -205px;width: 20px;height: 20px;}
.icon-outgoing{background-position: -606px -249px;width: 20px;height: 20px;}
.icon-paypal-sm{background-position: -360px -36px;width: 82px;height: 21px;}
.icon-paypal-xs{background-position: -252px -106px;width: 70px;height: 18px;}
.icon-paypal{background-position: 0px -183px;width: 117px;height: 30px;}
.icon-people{background-position: 0px -356px;width: 36px;height: 23px;}
.icon-premium{background-position: -606px -354px;width: 16px;height: 16px;}
.icon-rate-arrow{background-position: -324px -106px;width: 26px;height: 11px;}
.icon-reverss{background-position: 0px -381px;width: 26px;height: 25px;}
.icon-right{background-position: -619px -531px;width: 8px;height: 13px;}
.icon-rsim-android{background-position: -606px 0px;width: 22px;height: 26px;}
.icon-rsim-apple{background-position: -606px -28px;width: 22px;height: 26px;}
.icon-rsim-check{background-position: -606px -531px;width: 11px;height: 13px;}
.icon-rsim-europe-1{background-position: -606px -82px;width: 20px;height: 24px;}
.icon-rsim-europe-2{background-position: -606px -108px;width: 20px;height: 24px;}
.icon-rsim-free-try{background-position: -57px -215px;width: 55px;height: 55px;}
.icon-rsim-free{background-position: 0px -215px;width: 55px;height: 55px;}
.icon-rsim-incoming{background-position: -606px -424px;width: 15px;height: 15px;}
.icon-rsim-integrated-roamer{background-position: -285px -215px;width: 55px;height: 55px;}
.icon-rsim-keep{background-position: -171px -215px;width: 55px;height: 55px;}
.icon-rsim-local{background-position: -114px -215px;width: 55px;height: 55px;}
.icon-rsim-other{background-position: -606px -134px;width: 20px;height: 24px;}
.icon-rsim-outgoing{background-position: -606px -407px;width: 15px;height: 15px;}
.icon-rsim-pay-as-go{background-position: -228px -215px;width: 55px;height: 55px;}
.icon-rsim-r-sim-footer{background-position: -135px -272px;width: 45px;height: 36px;}
.icon-rsim-r-sim{background-position: -88px -272px;width: 45px;height: 37px;}
.icon-rsim-shipping{background-position: -40px -316px;width: 40px;height: 26px;}
.icon-rsim-us{background-position: -606px -56px;width: 21px;height: 24px;}
.icon-secure-small{background-position: 0px -106px;width: 250px;height: 29px;}
.icon-secure{background-position: -148px 0px;width: 300px;height: 34px;}
.icon-service-airpay{background-position: -333px -183px;width: 55px;height: 20px;}
.icon-service-first-data{background-position: -296px -272px;width: 55px;height: 20px;}
.icon-service-itunes{background-position: -390px -183px;width: 55px;height: 20px;}
.icon-service-paypal{background-position: -239px -272px;width: 55px;height: 20px;}
.icon-service-roamer{background-position: -182px -272px;width: 55px;height: 20px;}
.icon-service-stripe{background-position: -353px -272px;width: 55px;height: 20px;}
.icon-share-fb{background-position: -580px -260px;width: 24px;height: 24px;}
.icon-share-twitter{background-position: -580px -234px;width: 24px;height: 24px;}
.icon-share-vk{background-position: -580px -208px;width: 24px;height: 24px;}
.icon-stars{background-position: -393px -79px;width: 52px;height: 8px;}
.icon-sun{background-position: -342px -215px;width: 45px;height: 45px;}
.icon-triangle{background-position: -82px -316px;width: 44px;height: 22px;}
.icon-twitter{background-position: 0px -272px;width: 42px;height: 42px;}
